<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="Log_File_Name" value="logs/bankingSystem-log4j2.log"/>
    </Properties>
<!--    %c:%L class and location-->
    <Appenders>
<!-- for Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}:%L --> %msg%n"/>
        </Console>
<!-- internal file-->
        <File name="File" fileName="bankingSystem-log4j2.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}:%L --> %msg%n</Pattern>
            </PatternLayout>
        </File>
<!--external folder -->
        <RollingFile name="LogFile" fileName="${Log_File_Name}" filePattern="logs/bankingSystem-log4j2-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}:%L --> %msg%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>