<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="File_Name" value="bankingSystem-log4j2"/>
        <property name="Log_File_Name" value="logs/${File_Name}"/>
    </Properties>
<!--    %c:%L class and location-->
    <Appenders>
<!-- for Console -->
        <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout>
            <Pattern>%style{%d{dd-MM-yyyy HH:mm:ss.SSS}}{Magenta} %highlight{[ %-5level] %c{2}: %L --> %msg%n}</Pattern>
        </PatternLayout>
        </Console>
<!--external folder -->
        <RollingFile name="debugFile" filePattern="${Log_File_Name}:Debug-%d{MM-dd-yyyy}.log" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}: %L --> %msg%n</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="30kb"/>
        </RollingFile>

        <RollingFile name="errorFile" filePattern="${Log_File_Name}:Error-%d{MM-dd-yyyy}.log" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}: %L --> %msg%n</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="30kb"/>
        </RollingFile>

        <RollingFile name="infoFile" filePattern="${Log_File_Name}:Info-%d{MM-dd-yyyy}.log" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %c{2}: %L --> %msg%n</Pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="30kb"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="com.cognologix.BankingSystem" level="debug" additivity="false">
            <AppenderRef ref="debugFile" level="debug"/>
            <AppenderRef ref="errorFile" level="error"/>
            <AppenderRef ref="infoFile" level="info"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>